.control-group
  = f.label :detail_id, "Деталь", :class => 'control-label'
  .controls
    = f.select :detail_id, Detail.find(:all).collect{ |c| [c.serial,c.id]}, :prompt => "Выберите деталь"
    %label
    = f.check_box :_destroy
    = f.label :_destroy, "Удалить деталь"