.page-header
  %h1 Оборудование
%ul#Tab.nav.nav-tabs
  %li.active=link_to "Новое оборудование", "#new_equip", "data-toggle"=>"tab"
  %li=link_to "Принятое оборудование", "#accepted_equip", "data-toggle"=>"tab"
  %li=link_to "Удаленное оборудование", "#deleted_equip", "data-toggle"=>"tab"
  -if current_user.responsible?
    %li=link_to "Ваше оборудование", "#your_equip", "data-toggle"=>"tab"
.tab-content
  #new_equip.tab-pane.active
    =render "new_equip"
  #accepted_equip.tab-pane.active
    =render "accepted_equip"
  #deleted_equip.tab-pane.active
    =render "deleted_equip"
  #your_equip.tab-pane.active
    =render "your_equip"

-if logged_in? && current_user.admin_user?
  %p
    = link_to"Новое оборудование", new_equipment_path, class: "btn btn-info"